<kendo-grid
  [filterable]="'menu'"
  [columnMenu]="{ sort: true, column: true, filter: true, stick: true }"
  [pageable]="true"
  [pageSize]="pageSize"
  [sort]="[{ field: 'endDate', dir: 'desc' }]"
  [sortable]="true"
  [groupable]="true"
  [reorderable]="true"
  [resizable]="true"
  [selectable]="'multiple'"
  [kendoGridSelectBy]="gridSelectionByCodeAndPhase"
  [selectedKeys]="gridSelectedKeys"
  [rowClass]="isRemainingQuantity0"
  (selectionChange)="gridSelectionChange($event)"
  (dataStateChange)="onDataStateChanged($event)"
  (dataChange)="dataChange.emit()"
  (columnReorder)="onGridLayoutChanged()"
  (columnResize)="onGridLayoutChanged()"
  (columnVisibilityChange)="onGridLayoutChanged()"
  (columnStickyChange)="onGridLayoutChanged()"
>
  <kendo-grid-messages [columnMenu]="columnMenuText"> </kendo-grid-messages>
  <ng-template kendoGridToolbarTemplate>
    <div
      class="icon-container"
      [ngClass]="{ 'state-active': searchValue?.length > 0 }"
    >
      <span class="k-icon k-i-search"></span>
    </div>
    <input
      kendoTextBox
      [placeholder]="searchInAllColumnsText"
      class="gridSearch"
      (input)="searchGrid($event.target.value)"
    />

    <aee-quick-filter
      [label]="filterPhaseText"
      textField="text"
      filterField="phase"
      filterOperator="eq"
      [filterIgnoreCase]="true"
      [elements]="phaseFilterElements"
      (onFilter)="filterPhase($event)"
      [disabled]="phaseFilterDisabled || isLoading()"
    ></aee-quick-filter>
    <button
      kendoButton
      style="margin-left: 32px"
      icon="plus-outline"
      look="flat"
      class="gridToolbarButton"
      [title]="addSelectionButtonText"
      [disabled]="!addSelectionEnabled"
      (click)="addSelection()"
    >
      {{ addSelectionButtonText }}</button
    ><!-- @ToDo: translate -->
    <button
      kendoButton
      icon="launch"
      look="flat"
      class="gridToolbarButton"
      [disabled]="!openInPDEnabled"
      [title]="openInPDButtonText"
      (click)="openInPD()"
    >
      {{ openInPDButtonText }}</button
    ><!-- @ToDo: translate -->
    <button
      kendoGridExcelCommand
      icon="file-excel"
      [disabled]="isLoading()"
      look="flat"
      class="gridToolbarButton"
      [title]="exportToExcelButtonText"
    ></button
    ><!-- @ToDo: translate -->
    <button
      kendoButton
      icon="refresh"
      [disabled]="isLoading()"
      look="flat"
      (click)="refreshGrid()"
      class="gridToolbarButton"
      [title]="refreshButtonText"
    ></button
    ><!-- @ToDo: translate -->
    <button
      kendoButton
      icon="paste"
      look="flat"
      class="gridToolbarButton"
      [title]="toggleButtonText"
      [toggleable]="true"
      [disabled]="!workPlanCart"
      [selected]="toggleWorkPlanCartButtonSelected"
      (selectedChange)="onToggle($event)"
    >
      <span
        class="k-icon k-i-circle"
        style="color: red; position: absolute; top: 11px; left: 9px;"
        *ngIf="workPlanCart?.workPlanParts?.length > 0"
      ></span></button
    ><!-- @ToDo: translate -->
  </ng-template>
  <ng-template
    kendoGridGroupHeaderColumnTemplate
    let-group="group"
    let-aggregates="aggregates"
  >
    <span> {{ groupingCountText }}: {{ aggregates[group].count }} </span>
  </ng-template>
  <kendo-grid-checkbox-column
    [reorderable]="false"
    [sticky]="updateStick"
    showSelectAll="true"
    width="42"
    [resizable]="false"
    [columnMenu]="false"
    [minResizableWidth]="42"
  ></kendo-grid-checkbox-column>
  <kendo-grid-column
    [groupable]="false"
    [sticky]="updateStick"
    field="partPreview3d"
    title=""
    width="86"
    [resizable]="false"
    [reorderable]="false"
    [columnMenu]="false"
    [sortable]="false"
  >
    <ng-template kendoGridCellTemplate let-dataItem>
      <div
        class="k-grid-ignore-click"
        style="position: relative; width: 56px; height: 56px;"
      >
        <aee-popup-image
          *ngIf="
            (dataItem.phase == 'Blanking' && dataItem.partPreview2d) ||
            (dataItem.phase == 'Bending' &&
              !dataItem.partPreview3d &&
              dataItem.partPreview2d)
          "
          [imgSrc]="dataItem.partPreview2d"
          [title]="dataItem.partCode + ' ' + preview2DTitle"
          imgWidth="56px"
          imgHeigth="56px"
        >
        </aee-popup-image>
        <aee-popup-image
          *ngIf="
            (dataItem.phase == 'Bending' && dataItem.partPreview3d) ||
            (dataItem.phase == 'Blanking' &&
              !dataItem.partPreview2d &&
              dataItem.partPreview3d)
          "
          [imgSrc]="dataItem.partPreview3d"
          [title]="dataItem.partCode + ' ' + preview3DTitle"
          imgWidth="56px"
          imgHeigth="56px"
        >
        </aee-popup-image>
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [groupable]="false"
    [sticky]="updateStick"
    field="currentQuantity"
    title=""
    width="172"
    [reorderable]="false"
    [resizable]="false"
    [columnMenu]="false"
    [sortable]="false"
  >
    <ng-template kendoGridCellTemplate let-dataItem>
      <div style="position: relative;">
        <kendo-numerictextbox
          name="quantity"
          [disabled]="dataItem.remainingQuantity < 1"
          [style.width]="'50px'"
          [spinners]="false"
          [(value)]="dataItem.currentQuantity"
          [min]="dataItem.remainingQuantity > 0 ? 1 : 0"
          [max]="dataItem.remainingQuantity"
          [format]="'#'"
          [autoCorrect]="true"
          [decimals]="0"
          required
          class="current-quantity"
        >
        </kendo-numerictextbox>

        <button
          kendoButton
          class="add-to-cart"
          [icon]="'plus'"
          [title]="addToWorkPlanText"
          [primary]="true"
          (click)="addWorkPlanPart(dataItem)"
          look="outline"
          [disabled]="
            !dataItem.currentQuantity && dataItem.remainingQuantity > 0
          "
          i18n="Grouping list grid | Add button text"
        >
          Add
        </button>

        <!--@ToDo: use reactive form validation-->
        <div
          *ngIf="!dataItem.currentQuantity && dataItem.remainingQuantity > 0"
          class="k-form-error"
          style="position: absolute;"
          i18n="Grouping list grid | Required quantity validation error"
        >
          Error: Quantity is required
        </div>
        <!-- <div *ngIf="workPlanCart?.getPart(dataItem.code)?.quantity > 0" class="added-quantity" style="position: absolute; top: -16px;">Q.ty added {{workPlanCart?.getPart(dataItem.code)?.quantity}}</div> -->
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    field="code"
    [title]="codeColumnText"
    width="256"
    [minResizableWidth]="50"
  >
    <ng-template
      kendoGridGroupHeaderTemplate
      let-group="group"
      let-aggregates="aggregates"
      let-field="field"
    >
      <input
        type="checkbox"
        kendoCheckBox
        [ngModel]="groupSelectionChecked(group.items)"
        (ngModelChange)="groupSelection(group.items)"
        [indeterminate]="groupSelectionIndeterminate(group.items)"
        style="margin-right: 4px;"
      />
      <span>
        {{ codeColumnText }}: {{ group.value }} - {{ groupingCountText }}:
        {{ aggregates[field].count }}
      </span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    field="comment"
    [title]="commentColumnText"
    width="164"
    [minResizableWidth]="50"
  >
    <ng-template
      kendoGridGroupHeaderTemplate
      let-group="group"
      let-aggregates="aggregates"
      let-field="field"
    >
      <input
        type="checkbox"
        kendoCheckBox
        [ngModel]="groupSelectionChecked(group.items)"
        (ngModelChange)="groupSelection(group.items)"
        [indeterminate]="groupSelectionIndeterminate(group.items)"
        style="margin-right: 4px;"
      />
      <span>
        {{ commentColumnText }}: {{ group.value }} - {{ groupingCountText }}:
        {{ aggregates[field].count }}
      </span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    field="partCode"
    [title]="partCodeColumnText"
    width="128"
    [minResizableWidth]="50"
  >
    <ng-template
      kendoGridGroupHeaderTemplate
      let-group="group"
      let-aggregates="aggregates"
      let-field="field"
    >
      <input
        type="checkbox"
        kendoCheckBox
        [ngModel]="groupSelectionChecked(group.items)"
        (ngModelChange)="groupSelection(group.items)"
        [indeterminate]="groupSelectionIndeterminate(group.items)"
        style="margin-right: 4px;"
      />
      <span>
        {{ partCodeColumnText }}: {{ group.value }} - {{ groupingCountText }}:
        {{ aggregates[field].count }}
      </span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    field="partDescription"
    [title]="partDescriptionColumnText"
    width="164"
    [minResizableWidth]="50"
  >
    <ng-template
      kendoGridGroupHeaderTemplate
      let-group="group"
      let-aggregates="aggregates"
      let-field="field"
    >
      <input
        type="checkbox"
        kendoCheckBox
        [ngModel]="groupSelectionChecked(group.items)"
        (ngModelChange)="groupSelection(group.items)"
        [indeterminate]="groupSelectionIndeterminate(group.items)"
        style="margin-right: 4px;"
      />
      <span>
        {{ partDescriptionColumnText }}: {{ group.value }} -
        {{ groupingCountText }}: {{ aggregates[field].count }}
      </span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    field="phase"
    [title]="phaseColumnText"
    width="128"
    [minResizableWidth]="50"
  >
    <ng-template
      kendoGridGroupHeaderTemplate
      let-group="group"
      let-aggregates="aggregates"
      let-field="field"
    >
      <input
        type="checkbox"
        kendoCheckBox
        [ngModel]="groupSelectionChecked(group.items)"
        (ngModelChange)="groupSelection(group.items)"
        [indeterminate]="groupSelectionIndeterminate(group.items)"
        style="margin-right: 4px;"
      />
      <span>
        {{ phaseColumnText }}: {{ group.value }} - {{ groupingCountText }}:
        {{ aggregates[field].count }}
      </span>
    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem>
      <phase-badge [phase]="dataItem.phase"></phase-badge>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    field="partMaterialName"
    [title]="partMaterialColumnText"
    width="128"
    [minResizableWidth]="50"
  >
    <ng-template
      kendoGridGroupHeaderTemplate
      let-group="group"
      let-aggregates="aggregates"
      let-field="field"
    >
      <input
        type="checkbox"
        kendoCheckBox
        [ngModel]="groupSelectionChecked(group.items)"
        (ngModelChange)="groupSelection(group.items)"
        [indeterminate]="groupSelectionIndeterminate(group.items)"
        style="margin-right: 4px;"
      />
      <span>
        {{ partMaterialColumnText }}: {{ group.value }} -
        {{ groupingCountText }}: {{ aggregates[field].count }}
      </span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    field="partThickness"
    [title]="partThicknessColumnText"
    width="72"
    [minResizableWidth]="50"
    filter="numeric"
  >
    <ng-template
      kendoGridGroupHeaderTemplate
      let-group="group"
      let-aggregates="aggregates"
      let-field="field"
    >
      <input
        type="checkbox"
        kendoCheckBox
        [ngModel]="groupSelectionChecked(group.items)"
        (ngModelChange)="groupSelection(group.items)"
        [indeterminate]="groupSelectionIndeterminate(group.items)"
        style="margin-right: 4px;"
      />
      <span>
        {{ partThicknessColumnText }}: {{ group.value }} -
        {{ groupingCountText }}: {{ aggregates[field].count }}
      </span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    field="requestedQuantity"
    [title]="requestedQuantityColumnText"
    filter="numeric"
    width="72"
    [minResizableWidth]="50"
  >
    <ng-template
      kendoGridGroupHeaderTemplate
      let-group="group"
      let-aggregates="aggregates"
      let-field="field"
    >
      <input
        type="checkbox"
        kendoCheckBox
        [ngModel]="groupSelectionChecked(group.items)"
        (ngModelChange)="groupSelection(group.items)"
        [indeterminate]="groupSelectionIndeterminate(group.items)"
        style="margin-right: 4px;"
      />
      <span>
        {{ requestedQuantityColumnText }}: {{ group.value }} -
        {{ groupingCountText }}: {{ aggregates[field].count }}
      </span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    field="groupedQuantity"
    [title]="groupedQuantityColumnText"
    filter="numeric"
    width="72"
    [minResizableWidth]="50"
  >
    <ng-template
      kendoGridGroupHeaderTemplate
      let-group="group"
      let-aggregates="aggregates"
      let-field="field"
    >
      <input
        type="checkbox"
        kendoCheckBox
        [ngModel]="groupSelectionChecked(group.items)"
        (ngModelChange)="groupSelection(group.items)"
        [indeterminate]="groupSelectionIndeterminate(group.items)"
        style="margin-right: 4px;"
      />
      <span>
        {{ groupedQuantityColumnText }}: {{ group.value }} -
        {{ groupingCountText }}: {{ aggregates[field].count }}
      </span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    field="remainingQuantity"
    [title]="remainingQuantityColumnText"
    filter="numeric"
    width="72"
    [minResizableWidth]="50"
  >
    <ng-template
      kendoGridGroupHeaderTemplate
      let-group="group"
      let-aggregates="aggregates"
      let-field="field"
    >
      <input
        type="checkbox"
        kendoCheckBox
        [ngModel]="groupSelectionChecked(group.items)"
        (ngModelChange)="groupSelection(group.items)"
        [indeterminate]="groupSelectionIndeterminate(group.items)"
        style="margin-right: 4px;"
      />
      <span>
        {{ remainingQuantityColumnText }}: {{ group.value }} -
        {{ groupingCountText }}: {{ aggregates[field].count }}
      </span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    field="createDate"
    [title]="createDateColumnText"
    filter="date"
    width="132"
    [minResizableWidth]="50"
  >
    <ng-template
      kendoGridGroupHeaderTemplate
      let-group="group"
      let-aggregates="aggregates"
      let-field="field"
    >
      <input
        type="checkbox"
        kendoCheckBox
        [ngModel]="groupSelectionChecked(group.items)"
        (ngModelChange)="groupSelection(group.items)"
        [indeterminate]="groupSelectionIndeterminate(group.items)"
        style="margin-right: 4px;"
      />
      <span>
        {{ createDateColumnText }}: {{ group.value }} - {{ groupingCountText }}:
        {{ aggregates[field].count }}
      </span>
    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem>
      <span
        class="text-with-tooltip"
        timeago
        [date]="getDateFromString(dataItem.createDate)"
        [live]="'live'"
        title="{{
          getDateFromString(dataItem.createDate) | date: 'MMM d, y - h:mm a'
        }}"
      ></span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    field="endDate"
    [title]="endDateColumnText"
    filter="date"
    width="132"
    [minResizableWidth]="50"
  >
    <ng-template
      kendoGridGroupHeaderTemplate
      let-group="group"
      let-aggregates="aggregates"
      let-field="field"
    >
      <input
        type="checkbox"
        kendoCheckBox
        [ngModel]="groupSelectionChecked(group.items)"
        (ngModelChange)="groupSelection(group.items)"
        [indeterminate]="groupSelectionIndeterminate(group.items)"
        style="margin-right: 4px;"
      />
      <span>
        {{ endDateColumnText }}: {{ group.value }} - {{ groupingCountText }}:
        {{ aggregates[field].count }}
      </span>
    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem>
      <expiration-date
        [endDate]="getDateFromString(dataItem.endDate)"
      ></expiration-date>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    field="machines"
    [title]="machinesColumnText"
    width="132"
    [minResizableWidth]="50"
  >
    <ng-template
      kendoGridGroupHeaderTemplate
      let-group="group"
      let-aggregates="aggregates"
      let-field="field"
    >
      <input
        type="checkbox"
        kendoCheckBox
        [ngModel]="groupSelectionChecked(group.items)"
        (ngModelChange)="groupSelection(group.items)"
        [indeterminate]="groupSelectionIndeterminate(group.items)"
        style="margin-right: 4px;"
      />
      <span>
        {{ machinesColumnText }}: {{ group.value }} - {{ groupingCountText }}:
        {{ aggregates[field].count }}
      </span>
    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem>
      <ng-container *ngIf="dataItem.machines && dataItem.machines.length > 0">
        <aee-list-show
          [data]="dataItem.machines"
          [isTooltip]="true"
        ></aee-list-show>
      </ng-container>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    field="customer"
    [title]="customerColumnText"
    width="132"
    [minResizableWidth]="50"
  >
    <ng-template
      kendoGridGroupHeaderTemplate
      let-group="group"
      let-aggregates="aggregates"
      let-field="field"
    >
      <input
        type="checkbox"
        kendoCheckBox
        [ngModel]="groupSelectionChecked(group.items)"
        (ngModelChange)="groupSelection(group.items)"
        [indeterminate]="groupSelectionIndeterminate(group.items)"
        style="margin-right: 4px;"
      />
      <span>
        {{ customerColumnText }}: {{ group.value }} - {{ groupingCountText }}:
        {{ aggregates[field].count }}
      </span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    field="customerOrderCode"
    [title]="customerOrderCodeColumnText"
    width="132"
    [minResizableWidth]="50"
  >
    <ng-template
      kendoGridGroupHeaderTemplate
      let-group="group"
      let-aggregates="aggregates"
      let-field="field"
    >
      <input
        type="checkbox"
        kendoCheckBox
        [ngModel]="groupSelectionChecked(group.items)"
        (ngModelChange)="groupSelection(group.items)"
        [indeterminate]="groupSelectionIndeterminate(group.items)"
        style="margin-right: 4px;"
      />
      <span>
        {{ customerOrderCodeColumnText }}: {{ group.value }} -
        {{ groupingCountText }}: {{ aggregates[field].count }}
      </span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    field="preferentialMachine"
    [title]="preferentialMachineColumnText"
    width="132"
    [minResizableWidth]="50"
  >
    <ng-template
      kendoGridGroupHeaderTemplate
      let-group="group"
      let-aggregates="aggregates"
      let-field="field"
    >
      <input
        type="checkbox"
        kendoCheckBox
        [ngModel]="groupSelectionChecked(group.items)"
        (ngModelChange)="groupSelection(group.items)"
        [indeterminate]="groupSelectionIndeterminate(group.items)"
        style="margin-right: 4px;"
      />
      <span>
        {{ preferentialMachineColumnText }}: {{ group.value }} -
        {{ groupingCountText }}: {{ aggregates[field].count }}
      </span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    field="customData"
    [title]="customDataColumnText"
    width="132"
    [minResizableWidth]="50"
  >
    <ng-template
      kendoGridGroupHeaderTemplate
      let-group="group"
      let-aggregates="aggregates"
      let-field="field"
    >
      <input
        type="checkbox"
        kendoCheckBox
        [ngModel]="groupSelectionChecked(group.items)"
        (ngModelChange)="groupSelection(group.items)"
        [indeterminate]="groupSelectionIndeterminate(group.items)"
        style="margin-right: 4px;"
      />
      <span>
        {{ customDataColumnText }}: {{ group.value }} - {{ groupingCountText }}:
        {{ aggregates[field].count }}
      </span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    field="customData2"
    [title]="customData2ColumnText"
    width="132"
    [minResizableWidth]="50"
  >
    <ng-template
      kendoGridGroupHeaderTemplate
      let-group="group"
      let-aggregates="aggregates"
      let-field="field"
    >
      <input
        type="checkbox"
        kendoCheckBox
        [ngModel]="groupSelectionChecked(group.items)"
        (ngModelChange)="groupSelection(group.items)"
        [indeterminate]="groupSelectionIndeterminate(group.items)"
        style="margin-right: 4px;"
      />
      <span>
        {{ customData2ColumnText }}: {{ group.value }} -
        {{ groupingCountText }}: {{ aggregates[field].count }}
      </span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-excel fileName="Test.xlsx"></kendo-grid-excel>
  <!-- <ng-template kendoPagerTemplate>
  <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
  <kendo-pager-numeric-buttons
    [buttonCount]="defaultButtonCount"
  ></kendo-pager-numeric-buttons>
  <kendo-pager-next-buttons></kendo-pager-next-buttons>
  <kendo-pager-info></kendo-pager-info>
  <kendo-pager-page-sizes
    [pageSizes]="defaultPageSizes"
  >
  </kendo-pager-page-sizes>
</ng-template> -->
</kendo-grid>
