<!-- the grid is sortable  -->
<kendo-grid
  [kendoGridBinding]="gridView"
  [reorderable]="true"
  [filterable]="'menu'"
  [height]="380"
  [pageable]="true"
  [pageSize]="pageSize"
  [resizable]="true"
>
  <!-- the checkbox column is not sortable and it must always be the first column -->
  <kendo-grid-checkbox-column
    [reorderable]="false"
    [sticky]="true"
    [width]="42"
    [resizable]="false"
    [columnMenu]="false"
    [minResizableWidth]="42"
  ></kendo-grid-checkbox-column>
  <!-- the other columns must be sortable but they must not be the first column -->
  <kendo-grid-column
    [reorderable]="true"
    field="ID"
    title="ID"
    [width]="80"
  ></kendo-grid-column>
  <kendo-grid-column
    [reorderable]="true"
    field="Item"
    title="Item"
    [width]="80"
  ></kendo-grid-column>
  <kendo-grid-column
    [reorderable]="true"
    field="Category"
    title="Category"
    [width]="80"
  ></kendo-grid-column>
  <kendo-grid-column
    [reorderable]="true"
    field="Subcategory"
    title="Subcategory"
    [width]="80"
  ></kendo-grid-column>
</kendo-grid>
